.idea
target
rollup-state/
rollup-starter-data/
rollup-starter-data-external/
docker/credentials/*
!docker/credentials/bridge-0.addr
!docker/credentials/bridge-0.key
.keys
.artifacts
**/node_modules
**/dist
/crates/rollup/rollup-starter-data-celestia
/crates/rollup/rollup-starter-data
docker/observability
test-data/rollup-starter-data-celestia
test-data/rollup-starter-data
test-data/docker
scripts/rollup-starter.sh
scripts/rollup-starter-celestia.sh

# Acceptance test data isn't committed to git
scripts/acceptance-test/acceptance-test-data*
scripts/acceptance-test/acceptance-throughput/*

**/rustc-ice-*.txt
